body {
    background-image: url(../img/hl2wp.jpg);
    background-size: 100% 100%;
    overflow: hidden;
}

body p {
	color: white;
}

.menu {
    text-align: center;
    padding: 5px 0px;
}

.menu a {
	text-decoration: none;
}

.menu li {
    display: inline;
    color: white;
    margin: 2px 5px;
    border: 2px solid black;
    padding: 2px 8px;
}

.content {
	border: 2px solid white;
	min-height: 92vh;
	width: 100%;
	position: relative;
}

.profile-picture {
	float: left;
}

.profile-picture img {
	height: 250px;
	width: 250px;
	margin: 10px;
	border: 7px outset black;
}

.music-player {
	position: fixed;
	right: 6px;
	float: right;
	text-align: center;
	border: white 2px solid;
	padding: 6px;
	margin: 5px;
}

#player {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.footer {
	position: fixed;
	bottom: 0;
}

#next-button, #previous-button {
	display: inline-block;
	margin: 6px;
	padding: 3px;
	border: white 2px solid;
}

#next-button p, #previous-button p {
	display: inline;
}