body {
    background-image: url(../img/hl2wp.jpg);
    background-size: 100% 100%;
    overflow: hidden;
}

body p {
	color: white;
}

.menu {
    text-align: center;
    padding: 5px 0px;
}

.menu a {
	text-decoration: none;
}

.menu a li:hover {
	background-color: orangered;
}

.menu li {
    display: inline;
    color: white;
    margin: 2px 5px;
    border: 2px solid black;
    padding: 2px 8px;
}

.menu li:active {
	color: black;
	border: 2px solid white;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.content {
	border: 2px solid white;
	min-height: 92vh;
	width: 100%;
	position: relative;
}

.content p {
	display: inline-block;
}

.profile-picture {
	float: left;
}

.profile-picture img {
	height: 250px;
	width: 250px;
	margin: 10px;
	border: 7px outset black;
}

.music-player {
	float: right;
	text-align: center;
	border: white 2px solid;
	padding: 6px;
	margin: 5px;
	width: 300px;
	height: 150px;
	position: relative;
}

#audio-wrapper {
	width: inherit;
	height: 80px;
	position: absolute;
	bottom: 0px;
}

#player {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#player-buttons {
	width: inherit;
	bottom: 0px;
	position: absolute;
}

#playlist-selector {
	float: right;
	clear: right;
	display: inline-block;
	border: white 2px solid;
	margin: 5px;
	padding: 6px;
}

#playlists-button {
	display: inline;
}

#songs-button {
	display: inline;
}

#playlists-button p {
	display: inline;
}

#songs-button p {
	display: inline;
}

.footer {
	position: fixed;
	bottom: 0;
}

#next-button, #previous-button {
	display: inline-block;
	margin: 6px;
	padding: 3px;
	border: white 2px solid;
	cursor: pointer;
}

#next-button:active, #previous-button:active {
	background-color: white;
	border: black 3px solid;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#next-button p:active, #previous-button p:active {
	color: black;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#next-button p, #previous-button p {
	display: inline;
}